<%- include('header'); -%>
<h1>About Page</h1>
<p> Welcome to our simple and easy-to-use to-do list website! 
Our website allows you to create and manage to-do lists for all aspects of your life, from work and school to personal projects. 
Thank you for choosing our website and we hope you find it helpful in achieving your goals!</p>
<%- include('footer'); -%>